body {
font: 12px "Century Gothic", "Trebuchet MS", Verdana, Arial, Helvetica, bitstream vera, sans-serif;
text-align:center;
color:#666666;
background-color:#EEEEEE;
}
#container {
width: 450px;
margin: 0 auto 10px auto;
text-align:left;
background-color:#FFFFFF;
padding: 10px;
}
#header {
border-bottom:1px #8CD83A solid;
padding-bottom: 4px;
}
h1{
margin:0;
padding-bottom:0;
color:#8CD83A;
font-size:31px;
font-weight:lighter;
}
h2 {
color:#8CD83A;
font-size:18px;
font-weight:lighter;
}
.h1_span {
color:#42860D;
}
#subhead {
letter-spacing:2px;
}
p{
text-align:justify;
}
p a {
text-decoration:none;
color:#666666;
}
p a:hover{
text-decoration:underline;
}
#footer {
clear:both;
}
#footer p{
text-align:center;
font-size:10px;
}
#bottom_row {
background-color:#EEEEEE;
border-top:3px #999999 solid;
display:table;
width:100%;
}
.br_item {
float:left;
width: 100px;
margin-left:35px;
display:inline; /* fix for left margin ie problem, no effect on firefox */
}
.br_item h3 {
margin:15px 0 10px 0;
font-size:16px;
}
.br_item ul{
margin:2px 0 15px 0;
padding:0;
list-style-type:none;
}
.br_item ul li{
border-bottom: 1px #cccccc solid;
}
.br_item ul li a{
color:#666666;
text-decoration:none;
display:block;
}
.br_item ul li a:hover{
color:#FFFFFF;
background-color:#666666;
padding-left:4px;
}