body {
background-color:#333333;											
color:#666666;
font-family: "Times New Roman", Times, serif;
font-weight:bold;
font-size:12px;
}
#dusk {
width:678px;
height:578px;
margin-left:-339px;
margin-top:-289px;
top:50%;
left:50%;
position:absolute;
background-image:url(images/dusk_bg.jpg);
}
#sidebar {
float:left;
width:180px;
margin-left: 35px;
padding-top:50px;
display:inline;
}
#sidebar h2{
font-size:22px;
font-size:22px;
font-style:italic;
color:#eee;
font-weight:bolder;
border-bottom: 1px #eee solid;
margin-top:20px;
padding:0;
}
#sidebar ul{
list-style-type:none;
padding:0;
margin:0;
}
#sidebar ul li{
font-size:17px;
font-style:italic;
color:#eee
}
#sidebar ul li a {
text-decoration:none;
color:#eee;
}
#sidebar ul li a:hover {
text-decoration:underline;
}
#content {
float:right;
width:400px;
margin-right:25px;
padding-top:35px;
display:inline;
}
#content a {
color:#666666;
}
#content h1 {
text-align:center;
font-size:22px;
font-style:italic;
margin:10px 0 0 0;
}
#text {
height:390px;
overflow:auto;
}
.tagline {
font-size:10px;
text-align:center;
}
.ornament {
width:392px;
height:59px;
background-image:url(images/ornament.gif);
}