/* css by jose erlino lontok*/
body {
font-family: "Trebuchet MS", verdana, "Bitstream Vera Sans", sans-serif;
color:#333333;
font-size:11px;
background-color:#FFF;
}
#center {
width:780px;
height:530px;
position:absolute;
top: 50%;
left: 50%;
margin-top:-265px;
margin-left:-390px;
}
#wrap {
width:780px;
height:530px;
background-color:#FFFFFF;
background-image:url(images/wrap_lefbg.png);
background-repeat: no-repeat;
border:1px #EEE solid;
}
#main {
width:568px;
margin-left:200px;
}
#content {
height:270px;
overflow:auto;
}
h1 {
font-size: 28px;
border-bottom: 1px #FFCC66 solid;
margin: 20px 0;
padding:0 0 5px 0;
}
h2 {
font-size: 22px;
text-align:right;
margin:0;
padding:0;
}
#content p {
text-align:justify;
margin: 10px 0;
}
#content p a{
color:#0099FF;
text-decoration:none;
}

.light_blue {
color:#0099FF
}
.light_yellow {
color:#FFCC66;
}
#nav {
color:#ccc;
font-size:16px;
font-weight:bolder;
margin:25px 0 0 4px;
}
#nav ul{
list-style-type:none;
margin:0;
padding:0;
height:140px;
}
#nav ul li {
width:120px;
height:140px;
float:left;
margin-left:15px;
display:inline; /* added to fix ie's doubled left margin */
text-align:center;
}
.btn_yellow {
background-image:url(images/nav_btn_yellow.png);
background-repeat:no-repeat;
}
.btn_blue {
background-image:url(images/nav_btn_blue.png);
background-repeat:no-repeat;
}
#nav a {
text-decoration:none;
color:#ccc;
bottom:0;
padding-top:104px;
display:block;
width:100%;
}
#nav ul li a:hover {
background-image:url(images/btn_hover.jpg);
background-repeat:no-repeat;
color:#FFCC66;
}
#footer {
text-align:right;
}
#footer a{
color:#333333;
text-decoration:none;
}