/* Myhedspace Free11 by Myhedspace.com and Jose Erlino M. Lontok. February 2009 */
body {
margin:0;
padding:0;
background:url(../images/body_bg.jpg) #524D47 repeat-x;
font-family:Arial, Helvetica, sans-serif;
}

#wrap {
width:880px;
margin:10px auto;
}

#header h1{
font:bold 30px Arial, Helvetica, sans-serif;
color:#fff;
margin:10px 0;
padding:0;
}

#header h1 span{
color:#CD4827;
}

#main {
background-color:#fff;
width:100%;
padding:5px;
float:left;
}

#nav {
height:40px;
background:url(../images/nav_bg.jpg) #554F42 repeat-x;
overflow:hidden;
color:#fff;
font:11px Arial, Helvetica, sans-serif;
color:#fff;
text-align:right;
}

#nav ul {
margin:15px 0 0 0;
padding:0 0 0 0;
}

#nav ul li{
display:inline;
margin-right:20px;
}

#nav ul a{
color:#fff;
text-decoration:none;
}

#nav ul a:hover{
text-decoration:underline;
}

#home_banner {
background:url(../images/home_banner_bg.jpg) #575145 repeat-x;
margin:5px 0;
float:left;
width:100%;
padding:10px 0;
}

#home_banner_left {
width:517px;
height:269px;
background:url(../images/home_banner_left.jpg) no-repeat;
overflow:hidden;
float:left;
display:inline;
margin:0 0 0 15px;
font-size:12px;
}

#home_banner_left p{
margin:10px 0 0 10px;
padding:0;
}

#home_banner_right {
width:327px;
height:269px;
background:url(../images/home_banner_right.jpg) no-repeat;
overflow:hidden;
float:right;
display:inline;
margin:0 10px 0 0;
font-size:36px;
color:#fff;
}

#home_banner_right p{
padding:0 0 0 10px;
margin:20px 0 0 0;
}

#content {
padding:10px;
font:12px Tahoma, Arial, Helvetica, sans-serif;
color:#333333;
float:left;
margin-top:10px;
}

#content h2 {
font:24px bold Arial, Helvetica, sans-serif;
color:#A43F24;
margin:10px 0;
padding:0;
}

#inner_banner {
background:url(../images/home_banner_bg.jpg) #575145 repeat-x;
margin:5px 0;
float:left;
width:100%;
padding:10px 0;
}

#inner_banner_left {
width:517px;
height:171px;
background:url(../images/inner_banner_left.jpg) no-repeat;
overflow:hidden;
float:left;
display:inline;
margin:0 0 0 15px;
font-size:12px;
}

#inner_banner_left p{
margin:10px 0 0 10px;
padding:0;
}

#inner_banner_right {
width:327px;
height:171px;
background:url(../images/home_banner_right.jpg) no-repeat;
overflow:hidden;
float:right;
display:inline;
margin:0 10px 0 0;
font-size:28px;
color:#fff;
}

#inner_banner_right p{
padding:0 0 0 10px;
margin:5px 0 0 0;
}

#content_left {
width:470px;
float:left;
display:inline;
text-align:justify
}

#content_right {
float:left;
display:inline;
margin:0 0 0 55px;
width:335px;
}

.sidebar h3 {
font:26px Arial, Helvetica, sans-serif;
color:#fff;
background:url(../images/sidebar_links_top.jpg) #504A3F repeat-x;
padding:5px;
margin:10px 0;
}

.sidebar a {
color:#000;
text-decoration:none;
}

#footer {
text-align:center;
color:#fff;
font:12px Arial, Helvetica, sans-serif;
float:left;
width:100%;
margin:20px 0;
}

#footer p {
margin:0;
padding:0;
}

#footer a{
text-decoration:none;
color:#FFFFFF;
}



