body {
background-image:url(images/bodybg.gif);
text-align:center;
font-size:11px;
font-family: "Trebuchet MS", sans-serif;
color:#333;
}
#header {
width:650px;
margin:20px auto 0 auto;
padding:0;
color:#FFF;
font-family: "Trebuchet MS", sans-serif;
text-align:left;
}
#header h1 {
margin:0;
padding:0;
font-size:30px;
}
#header h1 a{
color:#fff;
text-decoration:none;
}
#wrap {
margin: -10px auto 0 auto;
padding:15px 0;
background-color:#FFF;
width:650px;
display:table;
text-align:left;
}
#header_img {
background-image:url(images/header.jpg);
width:625px;
height:119px;
margin:0 auto;
}
#content {
width:625px;
margin:0 auto;
background-image:url(images/content_bg.gif);
display:table;
padding: 10px 0 10px 0;
}
#content p {
text-align:justify;
}
div.hr {
  height: 13px;
  background: #fff url(images/right_div.gif) no-repeat scroll center;
}
div.hr hr {
  display: none;
}
#content .post_detail {
font-style:italic;
}
#content h2, #content h3, #content h2 a, #content h3, #content p a {
color:#8F212A;
text-decoration:none;
}
#content h2 {
font-size:16px;
margin:0;
}
#content h3 {
font-size:14px;
margin:0;
}
#left {
float:left;
width:400px;
}
#right {
float:right;
width:202px;
display:inline;
}
#right .sidebar {
width:180px;
margin: 10px 0 20px 15px;
}
.sidebar_div {
background-image:url(images/right_div.gif);
background-repeat:no-repeat;
width:173px;
height:13px;
}
#right .sidebar ul {
padding: 0 0 0 20px;
margin:4px auto;
list-style-image:url(images/bullet.gif);
}
#right .sidebar ul li a{
color:#333;
text-decoration:none;
}
#footer {
color:#fff;
font-size:12px;
font-weight:bolder;
font-family: "Trebuchet MS", sans-serif;
}
#footer a {
color:#fff;
text-decoration:none;
}