/*myhedspace_free07 - inner css */
body {
background-image:url(../images/bodybg.gif);
background-repeat:repeat-x;
background-color:#060606;
font-family:"Trebuchet MS", Verdana, sans-serif;
font-size:11px;
color:#FFF;
text-align:center;
}
#wrap {
width:630px; 
margin: 30px auto;
text-align:left;
}
#nav {
float:right;
}
#nav ul {
margin:5px 0;
padding:0;
list-style-type:none;
font-size:14px;
font-weight:bolder;
}
#nav ul li {
display:inline;
border-left:1px #FFF solid;
padding:0 15px 0 15px;
}
#first-li {
border-left:none !important;
padding-left:0 !important;
}
#nav a {
text-decoration:none;
color:#FFF;
}
#nav a:hover {
color:#666666;
}
#header {
float:left;
display:inline;
}
#header h1{
font-size:18px;
color:#FFF;
margin:5px 0;
padding:0;
}
#header h1 a{
color:#FFF;
text-decoration:none;
}
#header h1 span{
color:#666666;
}
#box {
width:630px; 
display:table;
background-image:url(../images/boxbg_inner.jpg);
background-repeat:no-repeat;
background-color:#010101;
border:1px #666666 solid;
padding:50px 0 20px 0;
clear:both;
}
#content {
width:520px;
margin: 0 auto;
}
#content a {
color:#999;
}
#box h2 {
font-size:18px;
font-style:italic;
text-decoration:underline;
}
#footer {
text-align:center;
}
#footer a  {
color:#FFF;
text-decoration:none;
}