/* Zoe Biz 01 - By Jose Erlino M. Lontok. http://jelontok.com | http://myhedspace.com */

body {
margin:0;
padding:0;
text-align:center;
background-color:#666;
font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
margin:0;
padding:0;
font-weight:normal;
}

#wrap {
width:780px;
margin:0 auto;
text-align:left;
}

#header {
height:100px;
background:url(images/header_bg.jpg) repeat-x;
}

#header h1{
font: 30px "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#333333;
text-transform:uppercase;
padding: 20px 0 0 20px
}
#header small{
padding: 0 0 0 20px
}

#topnav {
height:40px;
background:url(images/topnav_bg.jpg) repeat-x;
}

#topnav_list {
float:right;
padding-top:12px;
}

#topnav_list ul {
list-style-type:none;
padding:0;
margin:0;
color:#666666;
text-transform:uppercase;
font:bold 12px Arial, Helvetica, sans-serif;
}

#topnav_list ul li{
float:left;
margin-right:10px;
}

#topnav_list ul li a{
color:#666666;
text-decoration:none;
}

#topnav_list ul li a:hover{
color:#000;
text-decoration:underline;
}

#mid_banner {
height:201px;
background:url(images/mid_banner.jpg) no-repeat;
clear:both;
}

#mid_banner_text {
width:320px;
font:11px Verdana, Arial, Helvetica, sans-serif;
text-align:justify;
position:absolute;
margin: 60px 0 0 20px;
}

#mid_banner_text strong {
color:#2F6182;
}

#content {
background:url(images/content_bg.jpg) #FFFFFF repeat-x;
padding:20px 0 5px 0;
}

#content p {
font-size:10px;
color:#333333;
}

#content_box {
width:760px;
border:1px #CCCCCC solid;
background: url(images/content_box_bg.jpg) #fff bottom left no-repeat;
margin:0 auto;
}

#content_box h2 {
color:#2F6182;
font-size:18px;
}

#content_box  h2, #content_box p{
padding: 5px 0;
text-align:justify;
}

#content_box_inside {
padding:30px 30px 10px 30px;
}

#footer {
text-align:center;
padding: 20px 0;
}

#footer a{
text-decoration:none;
color:#333;
}