html, body, #wrap, #content {
height:100%;
}
body {
background-image:url(images/bodybg.gif);
background-repeat:repeat-x;
background-color:#5D3500;
margin:0;
padding;0;
font-family: verdana, sans-serif;
font-size:11px;
color:#333333;
}
#wrap {
width:625px;
background-color:#FFF;
background-image:url(images/beans.jpg);
background-repeat:repeat-y;
display:table;
}
#content {
width:440px;
margin-left:160px;
background-image:url(images/cup.jpg);
background-position:bottom right;
background-repeat:no-repeat;
display:table;
}
#content a{
color:#333333;
}
#content h1{
margin:0;
padding:10px 0;
font-size:32px;
font-family: "Times New Roman", Times, serif;
font-style:italic;
color:#613E24;
border-bottom:1px #613E24 solid;
}
#content h2{
margin:0;
padding:5px 0;
font-family: verdana, sans-serif;
font-size:16px;
font-style:italic;
color:#613E24;
}
#content ul {
margin:0;
padding:5px 0;
list-style-type:none;
text-align:right;
font-family: verdana, sans-serif;
font-size:12px;
font-weight:bolder;
color:#613E24;
}
#content ul li {
display:inline;
margin-left:10px;
}
#content ul li a{
text-decoration:none;
color:#613E24;
}
#content ul li a:hover{
border-top: 6px #613E24 solid;
padding-top:6px;
}
#footer {
border-top:1px #613E24 solid;
margin-top: 20px;
text-align:right;
}