body {
background-image:url(images/body_bg.jpg);
background-repeat:repeat-x;
background-color:#719EAF;
text-align:center;
padding:0;
margin:30px 0;
font: 11px "Century Gothic", "Trebuchet MS", Verdana, sans-serif;
color:#333333;
}
#wrap {
width:504px;
margin: 0 auto;
background-color:#FFFFFF;
border: 4px #2A647A solid;
}
#header {
text-align:left;
margin:0 auto;
width:487px;
}
#header h1 {
margin:10px 0 0 0;
font-size:30px;
font-weight:lighter;
color:#2A647A;
}
.h1_color {
color:#6E9DAF;
}
#nav {
width:487px;
height:215px;
background-image:url(images/nav_bg.jpg);
background-repeat:no-repeat;
text-align:right;
margin:0 auto;
display:table;
}
#nav .nav_item {
margin:10px 10px 0 0;
}
#nav ul {
list-style-type:none;
padding:0;
margin:0;
}
#nav a {
text-decoration:none;
color:#333333;
}
#nav a:hover {
border-right:2px #498196 solid;
color:#498196;
padding-right:10px;
}
#nav h3 {
font-size:14px;
padding:0;
margin:0 0 8px 0;
color:#498196;
text-decoration:underline;
font-weight:lighter;
}
#content {
text-align:left;
width:487px;
margin: 0 auto;
}
#content h2 {
font-size:24px;
color:#498196;
font-weight:lighter;
margin:0;
}
#footer {
color:#FFFFFF;
}
#footer a {
color:#FFFFFF;
text-decoration:none;	
}