body {
background:#FFFFFF url(images/bg_coffee.jpg) no-repeat;
margin: 0;
padding: 0;
font: 12px Verdana, Arial, Helvetica, sans-serif;
color: #333333;
}

#wrapper {
width: 490px;
display: table;
background: transparent url(images/ccc.gif) repeat;
border: 1px #666 solid;
margin: 15px 82px;
}

#header {
border-bottom: 1px #663333 solid;
padding-bottom: 6px;
}
h1 {
font: 36px "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
margin:0 20px;
text-align:right
} 
.h1_brown {
color:#663333;
}

#tagline {
color:#663333;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight: bolder;
margin:-8px 22px 0 0;
text-align:right;
}

#content {
width: 450px;
margin: 20px auto;
}
#content h2 {
color:#000000;
font: 16px "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
font-weight: bolder;
}
#content p {
text-align: justify;
}
#content blockquote {
border-left: 4px #663333 solid;
padding-left:4px;
text-align:justify;
font-style: italic;
}
#footer {
width: 490px;
margin: 2px 82px; 
color:#663333;
text-align: center;
}
#footer a {
color:#663333;
text-decoration: none;
}


#sidebar {
width: 200px;
position: absolute;
top: 15px;
left: 600px;
}

.sidebar_item {
background: transparent url(images/ccc.gif) repeat;
border: 1px #666 solid;
padding: 2px 6px;
margin-bottom: 10px;
}

#sidebar h3 {
color:#663333;
margin: 0;
border-bottom: 1px #666 solid;
font: 18px "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
}
#sidebar ul {
margin: 6px 0;
list-style-type: none;
padding:0
}
#sidebar ul li{
border-bottom: 1px #666 solid;

color:#333333;
}
#sidebar ul li a{
text-decoration: none;
color:#333333;
display:block;
padding: 2px
}
#sidebar ul li a:hover{
background-color:#663333;
color:#ffffff;
}